/* -------------------PART-1-------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  position: fixed;
  width: 100%;
  background: rgba(138, 144, 255, 0.9);
}
.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  color: white;
}
.navRight {
  background-color: transparent;
}
.menuIconParent {
  display: none;
}
/* --------------------RESPONSIVE------PART-1-------------------- */
@media screen and(max-width:767px) {
  .menuIconParent {
    display: block;
  }
  .navRight nav {
    display: none;
    color: white;
  }
}
/* -------------------PART-2-------------------- */
#banner {
  background-image: url("../images/banner-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 98vh;
  background-color: transparent;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h1 {
  margin-top: 90px;
  font-size: 60px;
  font-weight: 300;
  color: white;
}
.banner p {
  font-size: 14px;
  font-weight: 300;
  color: white;
}
.banner button {
  margin-top: 25px;
  font-size: 14px;
  font-weight: 500;
  color: #222222;
  background-color: white;
  width: 140px;
  height: 45px;
  border: 1px solid white;
  transition: all 600ms;
  cursor: pointer;
  padding: 12px 20px;
}
.banner button:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

/* --------------------RESPONSIVE------PART-2-------------------- */
@media screen and (max-width: 767px) {
  .banner {
    display: flex;
    flex-direction: column;
  }
  .banner h1 {
    margin: 0;
    font-size: 35px;
  }
  .banner button {
    margin: 15px;
  }
}
/* -------------------PART-4-------------------- */
#ImageAndText {
  margin-top: 120px;
}
.imgText {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.imgLeft {
  width: 50%;
}
.imgLeft img {
  width: 100%;
}
.textRight {
  width: 50%;
}
.textRight h3 {
  font-size: 36px;
  font-weight: 600;
  color: #222222;
}
.textRight .weAre {
  font-size: 16px;
  font-weight: 300;
  color: #222222;
}
.textRight .lorem {
  font-size: 14px;
  font-weight: 300;
  color: #777777;
}
.textRight button {
  font-weight: 500;
  font-size: 14px;
  color: white;
  transition: all 600ms;
  cursor: pointer;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  width: 140px;
  height: 40px;
}
.textRight button:hover {
  border: 1px solid rgba(138, 144, 255, 0.9);
  color: #828fff;
  background-image: -webkit-linear-gradient(white 100%, white);
}
/* --------------------RESPONSIVE------PART-4-------------------- */
@media screen and (max-width: 767px) {
  .imgText {
    flex-direction: column;
    row-gap: 3rem;
  }
  .imgLeft {
    width: 100%;
  }

  .textRight {
    width: 100%;
  }
}
/* -------------------PART-5-------------------- */
#textAndVideo {
  margin: 80px 0;
}
.textVideo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textDiv {
  width: 50%;
}
.textDiv .brand {
  font-size: 12px;
  font-weight: 300;
  color: #8a90ff;
}
.textDiv h3 {
  font-size: 36px;
  font-weight: 600;
  color: #222222;
}
.textDiv .weAre {
  font-size: 14px;
  font-weight: 600;
  color: #222222;
}
.textDiv .lorem {
  font-size: 14px;
  font-weight: 300;
  color: #777777;
}
.textDiv button {
  font-size: 14px;
  font-weight: 500;
  color: white;
  transition: all 600ms;
  cursor: pointer;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  width: 180px;
  height: 40px;
}
.textDiv button:hover {
  border: 1px solid rgba(138, 144, 255, 0.9);
  color: #828fff;
  background-image: -webkit-linear-gradient(white 100%, white);
}
.videoDiv {
  width: 50%;
  position: relative;
}
.img1 {
  width: 100%;
}
.videoIcon {
  position: absolute;
  top: 200px;
  left: 250px;
}

/* --------------------RESPONSIVE------PART-5-------------------- */
@media screen and (max-width: 767px) {
  .textVideo {
    flex-direction: column;
    row-gap: 3rem;
  }
  .videoDiv {
    width: 100%;
  }
  .textDiv {
    width: 100%;
  }
}
/* -------------------PART-6-------------------- */
#featureBg {
  background-image: url("../images/feature-bg.jpg");
  background-position: center;
  background-size: cover;
  height: 120vh;
}
.textParents {
  padding-top: 120px;
}

.textParents h3 {
  font-weight: 600;
  font-size: 36px;
}

.textParents p {
  font-weight: 300;
  font-size: 14px;
}
.card-info {
  background-color: white;
  width: 32%;
  border-radius: 10px;
  cursor: pointer;
}
.iconInfo {
  padding: 30px 20px 10px 20px;
  column-gap: 1rem;
}
.iconInfo i {
  padding-top: 5px;
}
.iconInfo h4 {
  font-weight: 600;
  font-size: 18px;
  color: #222222;
}
.card-info p {
  font-weight: 300;
  font-size: 14px;
  color: #777777;
  padding: 10px 20px 35px 20px;
}
.infoCardParents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.1rem;
}
.card-info:hover .iconInfo i,
.iconInfo h4 {
  color: #828fff;
}
/* --------------------RESPONSIVE------PART-6-------------------- */
@media screen and (max-width: 1023px) {
  .card-info {
    width: 49%;
  }
  .textParents {
    padding-top: 60px;
  }
  #featureBg {
    height: 140vh;
  }
}
@media screen and (max-width: 767px) {
  .card-info {
    width: 80%;
  }
  #featureBg {
    height: 230vh;
  }
}
/* -------------------PART-7-------------------- */
#LogosSection {
  margin: 100px 0;
}
.logosDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
}
.logoDiv {
  width: 13%;
}
.logoDiv img {
  width: 100%;
}

/* --------------------RESPONSIVE------PART-7-------------------- */

/* -------------------PART-8-------------------- */

.twoText h3 {
  font-weight: 600;
  font-size: 36px;
  color: #222222;
}
.twoText p {
  font-weight: 300;
  font-size: 14px;
  color: #777777;
  margin-bottom: 60px;
}
.imageTextParent {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.imageTextCard {
  width: 49%;
}

.imageTextCard img {
  width: 100%;
}
.buttonDiv {
  margin: 20px 0;
}
.buttonDiv button {
  font-size: 14px;
  font-weight: 500;
  color: white;
  transition: all 600ms;
  cursor: pointer;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
  width: 80px;
  height: 40px;
}
.buttonDiv button:hover {
  border: 1px solid rgba(138, 144, 255, 0.9);
  color: #828fff;
  background-image: -webkit-linear-gradient(white 100%, white);
}
.imageTextCard h4 {
  font-weight: 600;
  font-size: 18px;
  color: #222222;
}
.imageTextCard p {
  font-weight: 300;
  font-size: 14px;
  color: #777777;
}
.imageTextCard span {
  font-weight: 300;
  font-size: 14px;
  color: #222222;
}
/* --------------------RESPONSIVE------PART-8-------------------- */
@media screen and (max-width: 767px) {
  .imageTextParent {
    flex-direction: column;
    row-gap: 2rem;
  }
  .imageTextCard {
    width: 100%;
  }
}
/* -------------------PART-9-------------------- */

.lastSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}
#footerbg {
  background-image: url("../images/footer-bg.jpg");
  background-position: center;
  background-size: cover;
}
.lastSection h4,
.lastSection a,
.lastSection p {
  color: white;
}
.lastSection a {
  text-decoration: none;
}
.lastSection li {
  margin: 12px 0;
}
.top {
  padding-left: 25px;
}
.lastSection input {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  padding: 10px 15px;
  margin-right: 20px;
}
.lastSection button {
  width: 140px;
  height: 40px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  transition: all 600ms;
  cursor: pointer;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
}
.lastSection button:hover {
  border: 1px solid rgba(138, 144, 255, 0.9);
  color: #828fff;
  background-image: -webkit-linear-gradient(white 100%, white);
}
.miniCardParent {
  margin: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.divCenter p {
  margin: 45px 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.icons {
  column-gap: 1rem;
}
.icons i {
  background-color: black;
  padding: 12px;
  transition: all 600ms;
  border: 1px solid transparent;
}
.icons i:hover {
  cursor: pointer;
  background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
}
/* --------------------RESPONSIVE------PART-9-------------------- */
/* --------------------API------PART--------------------- */
.search{
  margin: 50px 0;
  width: 280px;
  height: 40px;
  padding: 10px 15px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 7px 5px 6px blue;
  outline: none;
  border: none;
  font-weight: 500;
}
::placeholder{
  color: blue;
}

.products{
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.robotCard{
  width: 350px;
}