* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border-bottom: 1px solid grey;

  z-index: 999;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-bottom: 15px; */
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
.divCenter {
  padding: 0 15px;
  height: 60px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
nav {
  padding-top: 15px;
}
ul li a {
  text-decoration: none;
  color: white;
}
ul li a:hover {
  color: orangered;
}
.divLeft h3 {
  color: white;
}
.divRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.divRight h5 {
  color: orangered;
  padding-top: 8px;
}
.divRight a {
  text-decoration: none;
  color: white;
}
.divRight i {
  color: white;
}
.textRelative {
  position: relative;
}

.textAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.textAbsolute h2 {
  font-weight: 800;
  font-size: 60px;
}
.textAbsolute p {
  padding-top: 25px;
  font-weight: 500;
  color: orangered;
  font-size: 2rem;
}
.textAbsolute span {
  float: right;
  font-weight: 600;
  font-size: 1.2rem;
  padding-right: 14%;
}
.sliderSection {
  height: 80vh;
}
.iconImage {
  width: 100px;
  height: 100px;
}
.iconCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.line {
  width: 100px;
  border-bottom: 1px solid orangered;
}
.parentDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.parentDiv h3 {
  font-weight: 500;
  font-size: 34px;
}
.cardParent {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.cardDiv {
  width: 30%;
}
.cardDiv h5 {
  text-align: center;
}
.cardDiv p {
  text-align-last: center;
}
.imza {
  width: 100%;
}
.img-div {
  /* background-image: url("../images/sign.png"); */
  height: 20vh;
}
.lineText {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}
.divRelative {
  position: relative;
}
.divAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.divAbsolute h3 {
  color: white;
}
.divAbsolute p {
  color: white;
}
.divAbsolute span {
  color: white;
}
.ted {
  color: orangered;
}
.servicesImage {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}
.servicesText {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.servicesCardParent {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.servicesCard {
  width: 21%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.servicesCard p {
  text-align-last: center;
}
#bgSection {
  background-image: url("../images/footer-bg\ \(1\).jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.bgSection {
  background-color: white;
  position: absolute;
  top: 15%;
  left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.textAbout {
  column-gap: 0.4rem;
  margin-bottom: 50px;
}
.nameEmailDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
.nameEmailDiv input {
  background-color: rgb(214, 243, 243);
  height: 40px;
  width: 250px;
  outline: none;
  border: 1px solid transparent;
  padding: 5px 15px;
}
.textarea {
  background-color: rgb(214, 243, 243);
margin-top: 10px;

  outline: none;
  border: 1px solid transparent;
  padding: 5px 15px;
}
.aboutImage{
  display: flex;
  justify-content: center;
  align-items:center ;
}
.send{
  height: 40px;
  width: 140px;
  background-color: orangered;
  color: white;
  border: 1px solid transparent;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}